In [1]:
import os
import pandas as pd

pwd = os.getcwd()
inputFileDir = pwd + "\\" + "Text.txt"

In [2]:
#Opening txt file:
textFileOpen = open(inputFileDir, 'r')
textFile = textFileOpen.read()
textFileOpen.close()

df_input=pd.read_csv(inputFileDir, sep=',',header =None,names=['Line1','Line2'])
print (df_input)

            Line1          Line2
0       Example 1          Egg 2
1    Awesome OD 3        Lions 3
2         Major 2        Lions 0
3       Example 3   Awesome OD 1
4  Ad exam plus 1      Example 1
5         Major 4        Lions 1

In [3]:
#Ditermining number of lines:
nonempty_lines = [line.strip("\n") for line in textFile if line != "\n"]
line_count = len(textFile) - len(nonempty_lines) +1

#Seperating values:
df = pd.DataFrame()
df['Team name 1'] = df_input['Line1'].str.replace('\d+', '', regex=True).str.strip()
df['Team 1 score'] = df_input['Line1'].str.replace('\D+', '', regex=True).str.strip()
df['Team 1 score'] = pd.to_numeric(df['Team 1 score'])
df['Team name 2'] = df_input['Line2'].str.replace('\d+', '', regex=True).str.strip()
df['Team 2 score'] = df_input['Line2'].str.replace('\D+', '', regex=True).str.strip()
df['Team 2 score'] = pd.to_numeric(df['Team 2 score'])

print (df)

    Team name 1  Team 1 score Team name 2  Team 2 score
0       Example             1         Egg             2
1    Awesome OD             3       Lions             3
2         Major             2       Lions             0
3       Example             3  Awesome OD             1
4  Ad exam plus             1     Example             1
5         Major             4       Lions             1

In [77]:
df2 = pd.DataFrame(columns = ['Team Name', 'Points'])

for i in range(line_count):
    if df.at[i, "Team 1 score"] > df.at[i, "Team 2 score"]:
        entry1 = {'Team Name': df.at[i, "Team name 1"], 'Points': 3}
        df2 = df2.append(entry1, ignore_index = True)
        

    elif df.at[i, "Team 1 score"] < df.at[i, "Team 2 score"]:
        entry1 = {'Team Name': df.at[i, "Team name 2"], 'Points': 3}
        df2 = df2.append(entry1, ignore_index = True)

    elif df.at[i, "Team 1 score"] == df.at[i, "Team 2 score"]:
        entry1 = {'Team Name': df.at[i, "Team name 1"], 'Points': 1}
        entry2 = {'Team Name': df.at[i, "Team name 2"], 'Points': 1}
        df2 = df2.append(entry1, ignore_index = True)
        df2 = df2.append(entry2, ignore_index = True)

df2['Points'] = pd.to_numeric(df2['Points'])

print (df2)

      Team Name  Points
0           Egg       3
1    Awesome OD       1
2         Lions       1
3         Major       3
4       Example       3
5  Ad exam plus       1
6       Example       1
7         Major       3

In [78]:
df3 = pd.pivot_table(df2, index = 'Team Name', values=['Points', 'Team Name'],aggfunc='sum',)
df3['Team Name'] = df3.index
df3=df3.reset_index(drop=True)
df3 = df3[['Team Name', 'Points']]
print (df3)

      Team Name  Points
0  Ad exam plus       1
1    Awesome OD       1
2           Egg       3
3       Example       4
4         Lions       1
5         Major       6

In [79]:
df3.sort_values(['Points', 'Team Name'],ascending=[False, True], inplace= True)
df3=df3.reset_index(drop=True)
print (df3)

      Team Name  Points
0         Major       6
1       Example       4
2           Egg       3
3  Ad exam plus       1
4    Awesome OD       1
5         Lions       1

In [83]:
line_count2 = len(df3)
print (line_count2)

6

In [81]:
for i in range (len(df3)):
    df3.iloc[i, 0] = str(i+1) + ". " + str(df3.iloc[i, 0])

print (df3)

         Team Name  Points
0         1. Major       6
1       2. Example       4
2           3. Egg       3
3  4. Ad exam plus       1
4    5. Awesome OD       1
5         6. Lions       1